.task
bin
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe

frontend/bindings/
package-lock.json
wails_windows_amd64.syso

.qwen
.kiro


.vscode
.idea
